	.container {
		width:300px;
		height:300px;
		filter: contrast(12);
		background:#fff;
		box-shadow: 0px 0px 20px 20px #fff;
	}
	.all-rows {
		height:300px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		z-index: 1;
	}
	.dot-row {
		display: flex;
		justify-content: space-around;
	}
	.dot {
		width:11px;
		height: 11px;
		border-radius:50%;
		background-color:#000;
		margin: 0;
		filter: blur(3px);
	}
	#letter {
		position: absolute;
		font-size:100px;
		line-height: 150px;
		font-family:'Helvetica', sans-serif;
		top:-34px;
		left:-4px;
		margin:0;
		z-index: 2;
		filter: blur(2px);

		/* these properties trick Chrome into 
		running hardware acceleration, 
		making the animation smoother */
		transform: translateZ(0); 
		transform: rotateZ(360deg);
		backface-visibility: hidden;
		perspective: 1000;
	}